<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' type='text/css' href='/style.css'>
	<title>WDI NEWS</title>
</head>
<body>
	<div id='container'>
		<div id='head'>
			<span id='wdinews'><a href="/">WDI NEWS</a></span><span id='menu'><a href="/new">submit</a></span>
		</div>
		<div class='content'>
				<%= yield %>
		</div>
	</div>
</body>
</html>