<form action="/create" method="post">
    <input class="full-width" id="title-to-submit" name="title" type="text" placeholder="Title"/>
    <input class="full-width" id="link-to-submit" name="link" type="text" placeholder="Link"/>
    <textarea class="full-width" id="comment-to-submit" name="body" placeholder="Comments"></textarea>
    <button class="full-width" id="button-to-submit" type="submit">Submit</button>
</form>
