<h2>Submit Story</h2>

<form action='/create' method='post'>
	Title: <input type='text' name='title' /><br />
	Link: <input type='text' name='link' /><br />
	Body: <input type='text' name='body' /><br />
	<button type='submit'>Submit</button>
</form>